/*отображение шапки и ее содержимого*/
header {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  width: 1024px;
  height: 63px;
  position: fixed !important;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  z-index: 200;
  @media (min-width: 768px) and (max-width: 1024px) {
    justify-content: space-between;
    width: 768px;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    justify-content: space-between;
    width: 320px;
  }
}

header [type="checkbox"] {
  display: none;
}

.logoSell {
  width: 133px;
  margin-left: 48px;
  @media (min-width: 768px) and (max-width: 1024px) {
    margin-left: 24px;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    margin-left: 17px;
  }
}

.logo {
  margin-top: 5px;
  width: 133px;
  height: 25px;
}

.tabletMenu {
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 0;
  width: 100%;
  margin-top: 17px;
  margin-left: 67px;
  padding-left: 0;
  @media (min-width: 768px) and (max-width: 1024px) {
    flex-direction: column;
    width: 240px;
    height: 200px;
    min-height: 85vh;
    margin-left: 25px;
    margin-top: 30px;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    flex-direction: column;
    width: 100px;
    margin-left: 20px;
    height: 200px;
    min-height: 85vh;
  }
}

.tabletMenu > li.menuItemHeader:nth-child(5) {
  @media (min-width: 320px) and (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.menuItem {
  display: flex;
  font-size: 12pt;
  margin-right: 29px;
  @media (min-width: 768px) and (max-width: 1024px) {
    margin-bottom: 20px;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.menuItem a {
  text-decoration: none;
  color: black;
}

.menuItem a:hover {
  color: #ef6c00;
}

menu > li:nth-child(5) {
  margin-right: 0;
}

.lineMenu {
  display: none;
  cursor: pointer;
  z-index: 207;
  @media (min-width: 768px) and (max-width: 1024px) {
    display: block;
    margin-top: 1px;
    margin-right: 23px;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    display: block;
    margin-top: 1px;
    margin-right: 15px;
  }
}

.tabletBlockMenu {
  display: flex;
  justify-content: flex-start;
  @media (min-width: 320px) and (max-width: 1024px) {
    display: none;
  }
}

.fon {
  display: none;
  position: fixed;
  background-color: #000000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 205;
  opacity: 0.7;
}

.itemSingOut {
  display: none;
  @media (min-width: 320px) and (max-width: 1024px) {
    display: inline;
  }
}

.toggleMenu {
  @media (min-width: 320px) and (max-width: 1024px) {
    z-index: 207;
  }
}

input.toggleMenu:checked ~ .fon {
  @media (min-width: 320px) and (max-width: 1024px) {
    display: block;
  }
}

input.toggleMenu:checked ~ .tabletBlockMenu {
  @media (min-width: 768px) and (max-width: 1024px) {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    z-index: 206;
    background-color: white;
    top: 0;
    left: 0;
    min-height: 100vh;
    align-content: stretch;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    z-index: 206;
    background-color: white;
    top: 0;
    left: 0;
    min-height: 100vh;
    align-content: stretch;
  }
}
